## Choose your target database type (default is "SQL ANSI")
## #set ( $env.database = 'postgresql' )
## #set ( $env.database = 'mysql' )
## #set ( $env.database = 'oracle' )
## #set ( $env.database = 'sqlserver' )
## Use specific conversion rules defined in a file located in the bundle
## #set ( $env.databaseConvFile = $fn.fileFromBundle('mydbrules.properties') )
<!DOCTYPE html>
<html>
<head>
## <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<meta charset="utf-8">
<title>${entity.name} entity</title>
<STYLE TYPE="text/css"> 
table {
  border: thin solid Gray;
}
th,td {
  border: thin solid Gray;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;	
}
th {
  background-color: #B3AFDE;
}
td.sql {
  background-color: #e6f3ff;
}
td.pk {
  font-weight:bold;
}
</STYLE> 

</head>
<body>
## <h1>Entity "$entity.name" - Database table "${entity.sqlTableName}" </h1>
<a href="../database.html">Back to home page</a>
<br>&nbsp;
<table>
<tr>
  <th>ENTITY</th> 
  <th>SQL TABLE</th> 
  <th>DB TABLE</th> 
  <th>DB TYPE</th> 
  <th>DB SCHEMA</th> 
  <th>DB CATALOG</th> 
  <th>DB TABLESPACE</th> 
  <th>DB COMMENT</th> 
</tr>
<tr>
  <td>$entity.name</td> 
  <td class="sql">$entity.sqlTableName</td> 
  <td>$entity.databaseTable</td> 
  <td>$entity.databaseType</td> 
  <td>$entity.databaseSchema</td> 
  <td>$entity.databaseCatalog</td> 
  <td>$entity.databaseTablespace </td> 
  <td>$entity.databaseComment </td> 
</tr>
</table>
&nbsp;
## ============== Columns
<table>
<tr>
  <th>Attribute name</th>
  <th>Attribute type</th>
  <th> </th>
  <th> </th>
  <th>DB NAME</th>  
  <th>DB TYPE</th> 
  <th>DB DEFAULT VALUE</th> 
  <th>DB COMMENT</th> 
  <th>SQL NAME</th>  
  <th>SQL TYPE</th> 
  <th>SQL CONSTRAINTS</th> 
</tr>

#foreach( $attribute in $entity.attributes )
<tr>
  <td #if ( $attribute.isKeyElement() )class="pk"#end>$attribute.name </td>
  <td>$attribute.neutralType </td>
  <td>#if ( $attribute.isKeyElement() ) <b>PK</b>#else &nbsp; #end</td>
  <td>#if ( $attribute.isFK() ) <b>FK</b>#else &nbsp; #end</td>
  <td>$attribute.databaseName</td>
  <td>$attribute.databaseType </td>
  <td>$attribute.databaseDefaultValue </td>
  <td>$attribute.databaseComment </td>
  
  <td class="sql" >$attribute.sqlColumnName </td>
  <td class="sql" >$attribute.sqlColumnType </td>
  <td class="sql" >$attribute.sqlColumnConstraints  </td>
</tr>
#end
</table>
## ==============
<br><br>
## ============== Foreign Keys
## #if ( $entity.databaseForeignKeysCount > 0 )
<table>
<tr> 
 <th>Foreign key</th> 
 <th></th> 
 
 <th>Origin attribute</th> 
 <th></th> 
 <th>Ref entity</th> 
 <th>Ref attribute</th> 

 <th>Origin column</th> 
 <th></th> 
 <th>Ref table</th> 
 <th>Ref column</th> 
</tr>
#if ( $entity.databaseForeignKeysCount > 0 )
#foreach( $fk in $entity.databaseForeignKeys )
#foreach( $fkAttribute in $fk.attributes ) 
#set($href = "href=${QUOT}${fk.referencedEntity.name}.html${QUOT}")
<tr>
 <td>$fk.name</td>
 <td>$fkAttribute.ordinal</td>

 <td>${fkAttribute.originAttributeName}</td>
 <td>&rarr;</td>
 <td><a $href>${fk.referencedEntity.name}</a></td>
 <td>${fkAttribute.referencedAttributeName}</td>

 <td class="sql" >${fkAttribute.originAttribute.sqlColumnName}</td>
 <td class="sql" >&rarr;</td>
 <td class="sql" ><a $href>$fk.sqlReferencedTableName</a></td>
 <td class="sql" >${fkAttribute.referencedAttribute.sqlColumnName}</td>
</tr>
#end
#end
#else
<tr>
 <td colspan="10">No foreign key</td>
</tr>
#end
</table>
## ==============
<br>
<p>Documentation generated by <a href="https://www.telosys.org/">Telosys</a> 
( $now.date $now.time )
 &nbsp; &nbsp; [ ${DOLLAR}env.database = "$env.database" ]
</p>
</body>
</html>
