## <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!DOCTYPE html>
<html>
<head>
## <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<meta charset="utf-8">
<title>${model.name} model</title>
<STYLE TYPE="text/css"> 
table {
  border: thin solid Gray;
}
th,td {
  border: thin solid Gray;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;	
}
th {
  background-color: #B3AFDE;
}
</STYLE> 

</head>
<body>
<br/>
<table>
 <tr> 
  <th>MODEL NAME</th> 
  <th>DATABASE NAME</th> 
  <th>DATABASE ID</th> 
  <th>DATABASE TYPE</th> 
 </tr>
 <tr>
  <td>$model.name</td>
  <td>$model.databaseName</td>
  <td>$model.databaseId</td>
  <td>$model.databaseType</td>
 </tr>
</table>
<br>
#set($count=0)
#set($warnings=0)
<table>
<tr> 
 <th>&nbsp</th> 
 <th>ENTITY</th> 
 <th>SQL TABLE</th> 
 <th>DB SCHEMA</th> 
 <th>DB CATALOG</th> 
 <th>PRIMARY KEY</th> 
 <th>FOREIGN KEY(S)</th> 
</tr>
#foreach ( $entity in $selectedEntities )
#set($count=$count+1)
#if( ! $entity.hasPrimaryKey() ) 
#set($warning = "<span style=${QUOT}color: red;${QUOT}><b>(!)</b></span>")
#else
#set($warning = "")
#end
#set($href = "href=${QUOT}./tables/${entity.name}.html${QUOT}")
<tr>
<td align="right">$count</td>
<td><a $href>${entity.name}</a></td>
<td><a $href>${entity.sqlTableName}</a> $warning </td>
<td>${entity.databaseSchema}</td>
<td>${entity.databaseCatalog}</td>

<td>
#if( $entity.hasPrimaryKey() )
${entity.keyAttributesCount} column#if( $entity.keyAttributesCount > 1 )s#end
#else
<span style="color: red;">NO PRIMARY KEY (!)</span>
#set($warnings=$warnings+1)
#end
</td>

<td>${entity.databaseForeignKeysCount}</td>
</tr>
#end 
</table>

#if ( $warnings > 0 ) 
<p style="color: red;" >NB : <b>$warnings warning(s)</b> in this model !</p> 
#end
## ==============
<br>
<p>Documentation generated by <a href="https://www.telosys.org/">Telosys</a> ( $now.date $now.time )</p>
</body>
</html>
